@model Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Kategori Ekle </h3></div>
                            <div class="card-body">
                                @if (TempData["error"] != null)
                                {
                                    <div>
                                        <h5 style="color:red">@TempData["error"]</h5>
                                    </div>
                                }
                                <form method="post">
                                    <div class="form-floating mb-3">
                                        @Html.DisplayNameFor(x => x.CategoryName)
                                        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                                    </div>
                                    @*<div class="form-floating mb-3">
                                            @Html.DisplayNameFor(x => x.Description)
                                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                                        </div>*@

                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button type="submit" class="btn btn-outline-dark">Kategori Ekle </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>




